<script>
  import { fly, fade } from "svelte/transition"
  import { onMount } from "svelte"
  import { goto } from "$app/navigation"
  import { auth } from "../stores/auth-custom"
  import { Spinner } from "sveltestrap"

  onMount(async () => {
    let intervall = setInterval(async () => {
      console.log(`onMount index page : ${$auth?.state}`)
      // einen finalen State abwarten
      if ($auth?.state === "signedIn" || $auth?.state === "signedOut" || $auth?.state === "fatalError") {
        // und diesen auswerten
        clearInterval(intervall)
        if ($auth.state === "signedIn") await goto("/launch")
        else if ($auth.state === "signedOut") await goto("/login")
        else alert($auth.error.message)
      }
    }, 100)
  })
</script>

<div class="center">
  <div>
    <img src="/inlumeIcon.svg" alt="branding"  in:fade out:fly={{ y: 200, duration: 2000 }}/>
  </div>
  <div style="margin-left: 22px;margin-top:20px;color:grey" transition:fade >
    <Spinner />
  </div>
</div>
{#if $auth?.error}
  <div class="login-info">
    {#if $auth.error.type === "auth/user-not-found" || $auth.error.type === "auth/wrong-password"}
      <p class="text-red-500"><span class="font-medium">Oops, that didn't work.</span> Email or password incorrect.</p>
    {:else if $auth.error.type === "auth/network-request-failed"}
      <p class="text-red-500"><span class="font-medium">Oops, that didn't work.</span> You seem to be offline.</p>
    {/if}
  </div>
{/if}

<style>
  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .login-info {
    margin-top: 2em;
    font-size: large;
    color: crimson;
  }
</style>
