<script>
  import logo from "../../static/inlumeIcon.svg"

  import DeployCard from "../components/DeployCard.svelte"
  import ProjectSelector from "../components/ProjectSelector.svelte"
  import DeployStateFilter from "../components/DeployStateFilter.svelte"
  import DeployTypeFilter from "../components/DeployTypeFilter.svelte"
  import { ToastStore } from "../stores/toastStore"
  import ToastHost from "../components/ToastHost.svelte"
  import ToolTip from "../components/ToolTip.svelte"

  import { LaunchDataStore } from "../stores/launchDataStore"
  import { auth } from "../stores/auth-custom"
  import { getDeploys } from "../deploys"

  import { scale, fade } from "svelte/transition"
  import { onMount } from "svelte"
  import { goto } from "$app/navigation"

  import { Collapse, Navbar, NavbarToggler, Nav, NavItem, Button, Input } from "sveltestrap"

  import Launch32 from "carbon-icons-svelte/lib/Launch32"
  import Activity20 from "carbon-icons-svelte/lib/Activity20"
  import CloseFilled20 from "carbon-icons-svelte/lib/CloseFilled20"

  let isOpen = false
  function handleUpdate(event) {
    isOpen = event.detail.isOpen
  }

  function logout() {
    // signOut anstossen
    auth.signOut()
    // und auf der index page das ergebnis abwartenÍ
    goto("/login")
  }

  onMount(async () => {
    console.log(`onMount launch page : ${$auth?.state}`)
    // initialisieren allein bei signedIn, ansonsten ab auf die index pageÍ
    if ($auth.state === "signedIn") {
      await LaunchDataStore.init()
      initProjectSelector()
    } else goto("/")
  })

  let lpDataset = {
    selectedDeployType: "prod",
    selectedDeployState: "active",
    selectedCustomer: "Select customer...",
    customerList: [],
    selectedProject: "Select project...",
    projectList: [],
    subtree: {},
    branch: "",
  }

  function handleDeployTypeFilterSelected(e) {
    if (lpDataset.selectedDeployType == "prod" || e.detail == "prod") {
      lpDataset.selectedDeployType = e.detail
      initProjectSelector()
    } else lpDataset.selectedDeployType = e.detail
    fillPanel()
  }

  function handleDeployStateFilterSelected(e) {
    lpDataset.selectedDeployState = e.detail
    fillPanel()
  }

  function handleProjectSelected() {
    tooltip.tooltipActive = false
    fillPanel()
  }

  function handleStatisticsClick() {
    goto("/statistics")
  }

  function initProjectSelector() {
    //console.log("initProjectSelector")
    let newList = []
    let launchData = $LaunchDataStore
    if (lpDataset.selectedDeployType == "prod") {
      lpDataset.subtree = launchData["prod"]
    } else {
      lpDataset.subtree = launchData["dev"]
    }
    for (const key in lpDataset.subtree) newList.push(key)
    lpDataset.customerList = newList
    lpDataset.selectedCustomer = "Select customer..."
    lpDataset.projectList = []
    lpDataset.selectedProject = "Select project..."
    if (tooltip) tooltip.tooltipActive = true
    fillPanel()
  }

  let deploys = []

  async function fillPanel() {
    let customer = lpDataset.selectedCustomer == "Select customer..." ? "" : lpDataset.selectedCustomer
    let project = lpDataset.selectedProject == "Select project..." ? "" : lpDataset.selectedProject
    deploys = await getDeploys(lpDataset.selectedDeployType, lpDataset.selectedDeployState, lpDataset.branch, searchText, customer && project)
  }

  function handleDoLaunch(e) {
    let url = e.detail
    let customerEntry = lpDataset.subtree[lpDataset.selectedCustomer]
    if (customerEntry) {
      let projectEntry = customerEntry[lpDataset.selectedProject]
      if (projectEntry) {
        let completelaunchUrl = `${url}/?c=${projectEntry.customerDir}&p=${projectEntry.projectDir}`
        window.open(completelaunchUrl, "_blank")
      }
    }
  }

  async function handleToogleArchived(e) {
    let item = e.detail
    let data = { archived: !item.archived }
    let dataJson = JSON.stringify(data)
    let url = "https://api.inlume.io/netlify/deploys/id/" + item.id
    try {
      const response = await fetch(url, {
        method: "PUT", // Method itself
        headers: { "Content-type": "application/json; charset=UTF-8" },
        body: dataJson, // body data type must match "Content-Type" header
      })
      //let fetchedJson = await response.json()
      //console.log(fetchedJson)
    } catch (error) {
      console.log(error)
    }
    fillPanel()
  }

  let branchTitle
  function setBranchCommits(e) {
    branchTitle = ` '${e.detail.title}' commits`
    lpDataset.branch = e.detail.id
    fillPanel()
  }

  function clearBranchCommits() {
    branchTitle = ""
    lpDataset.branch = ""
    fillPanel()
  }

  let searchText = ""
  $: search(searchText)
  function search(searchText) {
    fillPanel()
  }

  let buttonColor = "warning"

  let tooltip
</script>

<div class="div-navbar">
  <Navbar color="light" light expand="md">
    <img class="logo" src={logo} alt="logo" />
    <h3>launchPad</h3>
    <Launch32 />
    <NavbarToggler on:click={() => (isOpen = !isOpen)} />
    <Collapse {isOpen} navbar expand="md" on:update={handleUpdate}>
      <Nav navbar>
        <NavItem>
          <div class="div-navitem">
            <Button color="warning" on:click={() => logout()}>logout</Button>
          </div>
        </NavItem>
        {#if !branchTitle}
          <NavItem>
            <ToolTip tooltip="Select TYPE of deploys">
              <DeployTypeFilter on:filterSelected={handleDeployTypeFilterSelected} />
            </ToolTip>
          </NavItem>

          <NavItem>
            <ToolTip tooltip="Select STATE of deploys">
              <DeployStateFilter on:filterSelected={handleDeployStateFilterSelected} />
            </ToolTip>
          </NavItem>
        {:else}
          <NavItem>
            <div class="div-navitem">
              <ToolTip tooltip="Click to clear deploys restriction to {branchTitle}">
                <Button class="no-focus" on:click={clearBranchCommits}><CloseFilled20 class="carbon-icon" />{branchTitle}</Button>
              </ToolTip>
            </div>
          </NavItem>
        {/if}
        <NavItem>
          <div class="div-navitem">
            <ToolTip tooltip="Filter deploys by title and description">
              <Input type="search" placeholder="enter search text..." bind:value={searchText} />
            </ToolTip>
          </div>
        </NavItem>
        <NavItem>
          <ToolTip bind:this={tooltip} tooltip="Select customer and project to enable LAUNCH">
            <ProjectSelector dataset={lpDataset} on:projectSelected={handleProjectSelected} />
          </ToolTip>
        </NavItem>
      </Nav>
    </Collapse>
    <Button class="no-focus" color="primary" on:click={handleStatisticsClick}>
      <!-- <Button class="no-focus" color="primary" on:click={() => ToastStore.append("Wait a moment...", 2000, "primary")}> -->
      <Activity20 />
    </Button>
  </Navbar>
</div>

<div class="container">
  <div class="row row-cols-auto">
    {#each deploys as deploy}
      <div class="col" in:scale out:fade={{ duration: 500 }}>
        <DeployCard item={deploy} on:doLaunch={handleDoLaunch} on:toogleArchived={handleToogleArchived} on:branch={setBranchCommits} />
      </div>
    {/each}
  </div>
  <!--  <Button color={buttonColor} on:click={() => ToastStore.append("Wait a moment...", 5000, buttonColor, "center-bottom")}>Warn!</Button> -->
  <ToastHost />
</div>

<style>
  h3 {
    margin-top: 8px;
  }
  .logo {
    height: 2em;
    width: 2em;
    margin-right: 2em;
  }
  .div-navbar {
    z-index: 1;
    position: sticky;
    top: 0;
  }
  .div-navitem {
    margin: 0em 1em;
  }
  :global(.carbon-icon) {
    margin-top: -4px;
    margin-left: -4px;
    margin-right: 4px;
  }
</style>
