<script>
  import logo from "../../static/inlumeIcon.svg"
  import { Navbar, NavbarBrand } from "sveltestrap"
  import { auth } from "../stores/auth-custom"
  import { goto } from "$app/navigation"

  let emailaddress, password, passwordResetEmailSent

  $: if ($auth?.state === "signedIn") goto("/")

  function passwordForgotten() {
    console.log("passwordForgotten")
    // bind:value={emailaddress} hat leere emailaddress bei browser Vorschlag
    const loginForm = document.querySelector("#login-form")
    const emailInput = loginForm["login-email"]
    // aber emailInput.value hat den Wert!
    if (!emailInput.value) {
      alert("Please enter your email address!")
    } else {
      auth
        .sendPasswordResetEmail(emailInput.value)
        .then((args) => {
          passwordResetEmailSent = `Password reset email sent to '${emailInput.value}'`
        })
        .catch((err) => {
          alert(err.message)
        })
    }
  }
</script>

<Navbar color="light" light>
  <img class="logo" src={logo} alt="logo" />
  <NavbarBrand href="/">launchPad</NavbarBrand>
  <h3>login</h3>
</Navbar>
<div class="div-form">
  <form id="login-form" on:submit|preventDefault={() => auth.signIn(emailaddress, password)}>
    <div class="mb-3">
      <label for="login-email" class="form-label">Email address</label>
      <input id="login-email" type="email" class="form-control" required bind:value={emailaddress} />
    </div>
    <div class="mb-3">
      <label for="login-password" class="form-label">Password</label>
      <input id="login-password" type="password" class="form-control" required bind:value={password} />
    </div>
    <br />
    <button type="button" class="btn" on:click={() => passwordForgotten()}>Password forgotten</button>
    <button type="submit" class="btn" style="background-color: #f8d62b;">Login</button>
    <br />

    {#if $auth?.error}
      <div class="login-info">
        {#if $auth.error.type === "auth/user-not-found" || $auth.error.type === "auth/wrong-password"}
          <p class="text-red-500"><span class="font-medium">Oops, that didn't work.</span> Email or password incorrect.</p>
        {:else if $auth.error.type === "auth/network-request-failed"}
          <p class="text-red-500"><span class="font-medium">Oops, that didn't work.</span> You seem to be offline.</p>
        {/if}
      </div>
    {/if}
    {#if passwordResetEmailSent}
      <div class="success">
        <p>OK,</p>
        <p>{passwordResetEmailSent}</p>
      </div>
    {/if}
  </form>
</div>

<style>
  .logo {
    height: 2em;
    width: 2em;
    margin-right: 2em;
  }
  .login-info {
    margin-top: 2em;
    font-size: large;
    color: crimson;
  }
  .div-form {
    max-width: 400px;
    margin: 100px auto;
    padding: 3em;
    background-color: #eee;
    border-radius: 10px;
  }
  .success {
    margin-top: 2em;
    font-size: large;
    color: green;
  }
</style>
