<script>
  import { goto } from "$app/navigation"
  import { Navbar, Button } from "sveltestrap"
  import Launch20 from "carbon-icons-svelte/lib/Launch20"

  function handleBack() {
    goto("/launch")
  }
</script>

<div class="div-navbar">
  <Navbar color="light" light expand="md">
    <Button class="no-focus" color="primary" on:click={handleBack}>
      <Launch20 />
    </Button>
  </Navbar>
</div>

<h4>STATISTICS</h4>

<style>
  .div-navbar {
    z-index: 1;
    position: sticky;
    top: 0;
  }
</style>
