<script>
  
  import { createEventDispatcher } from "svelte"
  import { Button, ButtonGroup } from "sveltestrap"

  const active = "active"
  const archived = "archived"
  const all = "all"
  // default filter ist all
  $: filter = active
  $: outlineactive = filter != active
  $: outlinearchived = filter != archived
  $: outlineall = filter != all

  const dispatch = createEventDispatcher()
  function envClick(envClicked) {
    filter = envClicked
    dispatch("filterSelected", filter)
  }

</script>

<div class="div-selector">
  <ButtonGroup>
    <Button class="no-focus" on:click={() => envClick(active)} outline={outlineactive}>{active}</Button>
    <Button class="no-focus" on:click={() => envClick(archived)} outline={outlinearchived}>{archived}</Button>
    <Button class="no-focus" on:click={() => envClick(all)} outline={outlineall}>{all}</Button>
  </ButtonGroup>
</div>

<style>
  .div-selector {
    margin-left: 1em;
  }
</style>
