<script>
  import { Button, Card, CardBody, CardFooter, CardHeader, CardSubtitle, CardText, CardTitle } from "sveltestrap"
  import { createEventDispatcher } from "svelte"
  import ToolTip from "../components/ToolTip.svelte"
  const dispatch = createEventDispatcher()

  export let item
  $: footerText = item.archived ? "archived" : "active"

  function launchButtonClick() {
    dispatch("doLaunch", item.url)
  }

  function actionButtonClick() {
    dispatch("toogleArchived", item)
  }
  function branchButtonClick() {
    dispatch("branch", item)
  }
</script>

<Card class="mb-3 deploy-card">
  <CardHeader>
    <CardTitle>{item.title}</CardTitle>
  </CardHeader>
  <CardBody>
    <CardSubtitle>{item.subtitle}</CardSubtitle>
    <CardText>
      {item.content}
    </CardText>
    <ToolTip tooltip="Select customer and project to enable LAUNCH" tooltipActive={!item.fullSpec}>
      <Button class="no-focus" disabled={!item.fullSpec} on:click={launchButtonClick}>LAUNCH</Button>
    </ToolTip>
  </CardBody>
  {#if item.action}
    <CardFooter>
      <div class="div-footer">
        <h4>{footerText}</h4>
        <ToolTip tooltip="Click to {item.action} branch '{item.title}'">
          <Button class="no-focus" on:click={actionButtonClick}>{item.action}</Button>
        </ToolTip>
          <ToolTip tooltip="Click to show all commits of branch '{item.title}'">
            <Button class="no-focus" on:click={branchButtonClick}>commits</Button>
        </ToolTip>
      </div>
    </CardFooter>
  {/if}
</Card>

<style>
  .div-footer {
    display: flex;
    justify-content: space-between;
  }
  h4 {
    margin-top: 6px;
  }
  :global(.deploy-card) {
    width: 380px;
  }
</style>
