<script>

  import { createEventDispatcher } from "svelte"
  import { Button, ButtonGroup } from "sveltestrap"

  const prod = "prod"
  const nonprod = "nonprod"
  const release = "release"
  const hotfix = "hotfix"
  const feature = "feature"
  const dev = "dev"

  // default filter ist prod
  $: filter = prod

  $: outlineprod = filter != prod
  $: outlinenonprod = filter != nonprod
  $: outlinerelease = filter != release
  $: outlinehotfix = filter != hotfix
  $: outlinefeature = filter != feature
  $: outlinedev = filter != dev

  const dispatch = createEventDispatcher()
  function btnClick(filterClicked) {
    filter = filterClicked
    dispatch("filterSelected", filter)    
  }
</script>

<div class="div-selector">
  <ButtonGroup>
    <Button class="no-focus" on:click={() => btnClick(prod)} outline={outlineprod}>{prod}</Button>
    <Button class="no-focus" on:click={() => btnClick(nonprod)} outline={outlinenonprod}>{nonprod}</Button>
    <Button class="no-focus" on:click={() => btnClick(release)} outline={outlinerelease}>{release}</Button>
    <Button class="no-focus" on:click={() => btnClick(hotfix)} outline={outlinehotfix}>{hotfix}</Button>
    <Button class="no-focus" on:click={() => btnClick(feature)} outline={outlinefeature}>{feature}</Button>
    <Button class="no-focus" on:click={() => btnClick(dev)} outline={outlinedev}>{dev}</Button>
  </ButtonGroup>
</div>

<style>
  .div-selector {
    margin-left: 1em;
  }
</style>
