<script>
  import { Dropdown, DropdownToggle, DropdownMenu, DropdownItem } from "sveltestrap"
  import { createEventDispatcher } from "svelte"
  const dispatch = createEventDispatcher()

  export let dataset

  // CUSTOMER Handling
  function customerSelected(e) {
    dataset.selectedCustomer = e["customer"]
    dataset.selectedProject = "Select project..."
    projectList.length = 0
    let newList = []
    let customerSubTree = dataset.subtree[dataset.selectedCustomer]
    if (customerSubTree) {
      for (const key in customerSubTree) newList.push(key)
    }
    dataset.projectList = newList
    dispatch("projectSelected")
  }

  // PROJECT Handling
  let projectList = []
  function projectSelected(e) {
    dataset.selectedProject = e["project"]
    dispatch("projectSelected")
  }
</script>

<div class="div-selector">
  <Dropdown>
    <DropdownToggle class="no-focus" caret>{dataset.selectedCustomer}</DropdownToggle>
    <DropdownMenu end>
      {#each dataset.customerList as customer}
        <DropdownItem on:click={customerSelected({ customer })}>{customer}</DropdownItem>
      {/each}
    </DropdownMenu>
  </Dropdown>
  <Dropdown>
    <DropdownToggle class="no-focus" caret>{dataset.selectedProject}</DropdownToggle>
    <DropdownMenu end>
      {#each dataset.projectList as project}
        <DropdownItem on:click={projectSelected({ project })}>{project}</DropdownItem>
      {/each}
    </DropdownMenu>
  </Dropdown>
</div>

<style>
  .div-selector {
    margin-left: 1em;
    display: flex;
  }
</style>
