<script>
  import { fly } from "svelte/transition"
  import { ToastStore } from "../stores/toastStore"
  import { Button } from "sveltestrap"
  //$: console.warn($ToastStore)
</script>

<div class="center-top">
  {#each $ToastStore as toast (toast.id)}
    {#if toast.position == "center-top"}
      <div class="div-toast" transition:fly={{ y: 30 }}>
        <Button color={toast.color}>{toast.message}</Button>
      </div>
    {/if}
  {/each}
</div>

<div class="center-bottom">
  {#each $ToastStore as toast (toast.id)}
    {#if toast.position == "center-bottom"}
      <div class="div-toast" transition:fly={{ y: 30 }}>
        <Button color={toast.color}>{toast.message}</Button>
      </div>
    {/if}
  {/each}
</div>

{#each $ToastStore as toast (toast.id)}
  {#if toast.position == "x-y"}
    <div class="x-y" style="left:{toast.x}px;top:{toast.y}px">
      <Button color={toast.color}>{toast.message}</Button>
    </div>
  {/if}
{/each}

<style>
  .x-y {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
    opacity: 0.8;
  }
  .center-top {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
  }
  .center-bottom {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
  }

  .div-toast {
    margin-bottom: 10px;
  }
</style>
