<svelte:options accessors />

<script>
  import { ToastStore } from "../stores/toastStore"

  export let tooltip = "tooltip"
  export let tooltipActive = true

  let hoverTimer, toastId

  function handleMouseEnter(e) {
    if (tooltipActive && !toastId) {
      hoverTimer = setTimeout(() => {
        if (tooltipActive) createToast(e.clientX, e.clientY)
        hoverTimer = 0
      }, 1500)
    }
  }

  function handleMouseLeaveAndClick(e) {
    if (tooltipActive) {
      clearTimeout(hoverTimer)
      hoverTimer = 0
      removeToast()
    }
  }

  function createToast(x, y) {
    toastId = ToastStore.append(tooltip, 3000, "info", "x-y", x, y)
  }

  function removeToast() {
    if (toastId) {
      ToastStore.remove(toastId)
      toastId = 0
    }
  }
</script>

<div on:mouseenter={handleMouseEnter} on:mouseleave={handleMouseLeaveAndClick} on:click={handleMouseLeaveAndClick}>
  <slot />
</div>
